.btn-search-wrapper {
  top: 1px;
  right: 0;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: map-get($colors, 'brand-dark');

  &:hover, &:focus {
    color: map-get($colors, 'brand-dark');
  }
}

.btn-brand {
  background-color: map-get($colors, 'copy-primary-medium');
  @extend .transition-slow;

  &:hover, &:focus {
    @extend .transition-slow;
    opacity: 0.8;
    color: white;
  }
}

.menu-btn{
  @include breakpoint(map-get($breakpoints, 'mobile-only')){
    margin-top:-168px;
  }
}



