//helpers
.rotate {

  /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}


.btn-search-wrapper {
  top: 1px;
  right: 0;
}

.btn-input {
  background-color: transparent;
  border: none;
  color: map-get($colors, 'brand-dark');

  &:hover, &:focus {
    color: map-get($colors, 'brand-dark');
  }
}

.btn-advanced {
  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    position: absolute;
    right:48px;
    top: -93px;
  }
}

.btn-brand-default {
  background-color: map-get($colors, 'copy-primary-medium');
  @extend .transition-slow;

  &:hover, &:focus {
    opacity: 0.8;
    color:map-get($colors,'brand-light');
  }
}

.btn-menu {
  @extend .transition-slow;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
/*    margin-top: -33px;*/
    position: absolute;
    top: -93px;
    right:0;
  }


}

.btn-times {
  @extend .transition-slow;
  &:hover, &:focus {
    opacity: 0.8;
    color:map-get($colors,'brand-light');
  }
}

.btn-search-plus{
  margin-right:$helper-standard;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    margin-right:0;
  }
}







