.btn-search-wrapper {
  top: 1px;
  right: 0;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: map-get($colors, 'brand-dark');

  &:hover, &:focus {
    color: map-get($colors, 'brand-dark');
  }
}

.btn-advanced {
  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    position: absolute;
    right:48px;
    top: -113px;
  }
}

.btn-brand-default {
  background-color: map-get($colors, 'copy-primary-medium');
  @extend .transition-slow;

  &:hover, &:focus {
    opacity: 0.8;
    color: white;
  }
}

.btn-menu {
  @extend .transition-slow;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
/*    margin-top: -33px;*/
    position: absolute;
    top: -113px;
    right:0;
  }

}

.btn-times {
  @extend .transition-slow;
  &:hover, &:focus {
    opacity: 0.8;
  }
}

.btn-search-plus{
  margin-right:$helper-standard;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    margin-right:0;
  }


}



