/*.add-basket{
  border-bottom: 1px solid map-get($colors, 'copy-primary-medium');
  border-top: 1px solid map-get($colors, 'copy-primary-medium');

  color:map-get($colors, 'copy-primary-medium');

  @extend .transition-slow;

  &:hover{
    border-bottom: 1px solid map-get($colors, 'brand-light');
    border-top: 1px solid map-get($colors, 'brand-light');
  }
}*/

/*.product-img{
  float: right;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    float: none;
  }
}*/

.login-register{
  &:hover{
    border-bottom: 1px solid map-get($colors, 'brand-light');
  }
}

.product-detail-table{
  th{
    color:map-get($colors, 'copy-primary-medium');
  }
}

.visualiser-frame-wrapper:hover .icon-quick-nav__visualiser {
  background-image: url(../images/icons/visualiser-icon-hover.svg);
}

/*
.product-img-btns-wrapper{
  float: right;

  @include breakpoint(map-get($breakpoints, 'mobile-and-small-tablet-only')) {
    float: none;
  }

  :first-child{
    margin:0;
  }
}*/

.product-img-zoom-wrapper{
  margin-top:-60px;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    margin-top: $helper-thin;
  }

}

.zoom-frame{
  text-align: right;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    text-align: left;
  }

}
.value-wrapper{
  border: 1px solid map-get($colors, 'copy-primary-medium');

  @include breakpoint(map-get($breakpoints, 'mobile-and-small-tablet-only')) {
    width: 80px;
    text-align: center;
  }
}

.quantity-wrapper{
  border: 1px solid map-get($colors, 'copy-primary-medium');
  padding-left:$helper-standard;
  padding-right:$helper-standard;

  input{
    border:none;
  }


}

.product-img-btns-wrapper, .product-img-zoom-wrapper{
  text-align: center;
  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    text-align: center;
  }
}


.product-content, .product-detail-content {
  padding:0;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    padding-left: $helper-thick;
    padding-right: $helper-thick;
  }
}

.mobile-headings{
  @include breakpoint(map-get($breakpoints, 'small-tablet-up')) {
    display: none;
  }
}

.product-detail-content, .product-sample-content, .product-prices-content {
  @include breakpoint(map-get($breakpoints, 'small-tablet-up')){
    display:block!important;
  }
}

.product-samples-title{
  @include breakpoint(map-get($breakpoints, 'mobile-only')){
    margin-bottom:0;
  }

  @include breakpoint(map-get($breakpoints, 'small-tablet-up')){
    border-bottom: 1px solid map-get($colors, 'copy-primary-medium');
  }



}

.zoomWindowContainer{
  max-width:100%;
}

.mobile-indent-section{
  padding:0;
  @include breakpoint(map-get($breakpoints, 'mobile-only')){
    padding-left:$helper-thick;
    padding-right:$helper-thick;
  }
}

.price-selection{
  display:inline-block;

  @include breakpoint(map-get($breakpoints, 'mobile-only')){
    display: block;
    margin-bottom: $helper-extra-thick;
    margin-right:0;

    div{
      float: right;
      margin-top:0;
    }
  }

}


.view-other-items {
  width:350px;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;

  margin-left:40px;


  @include breakpoint(map-get($breakpoints, 'mobile-and-large-tablet-only')) {
    width:80%;
    margin-left:0;
    margin-right:0;
  }

  .product-wrapper {
    display: inline-block;
    width: 120px;
    height: auto;
  }
}

.recently-viewed{
  display: block;
  width:80%;
  margin-left:auto;
  margin-right:auto;

  overflow-x: scroll;
  white-space: nowrap;

  .product-wrapper {
    display: inline-block;
    width: 120px;
    height: auto;
  }
}


.view-items-left-arrow{
  position: relative;
  top:40%;
  left: -10px;
  margin-top: 54px;

  @include breakpoint(map-get($breakpoints, 'mobile-and-large-tablet-only')) {
    width: 10%;
  }
}

.view-items-right-arrow{
  position: absolute;
  top:40%;
  right:0;

  @include breakpoint(map-get($breakpoints, 'mobile-and-large-tablet-only')) {
    width: 10%;
  }
}


.icon-angle{
  @extend .transition-slow;
}

.clicked .icon-angle{
  transform: rotate(90deg);
}

.bestValueMessage button{
  float: right;
}

.betterValueText{
  margin-bottom:20px;
}

#bestValueWarning button{
  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    margin-top:10px;
    float:none;
  }
}

