.secondary-nav-links {
  list-style: none;

  padding: 10px 0;
  /*background-color:map-get($colors, 'copy-primary-medium');*/

  /*color:white;*/

  > li {
    display: inline;
    text-align: center;
    padding: 12px 0;
    /*padding: 0 $helper-standard;*/
    color: #000;r: map-get($colors, 'copy-primary-dark');
    /*background-color:map-get($colors, 'copy-primary-medium');*/
    cursor: pointer;
    /*background-color:map-get($colors, 'copy-primary-medium');*/

    /*@extend .transition-slow;*/

    &:hover, &.trigger {
      background-color: map-get($colors, 'copy-primary-medium');
      /*opacity:0.8;*/
      color: white;

      /*border-right: 1px solid map-get($colors, 'copy-primary-dark');*/

      /*background-color:map-get($colors, 'copy-primary-medium');*/

      .nav-menu-heading {
        border-right: 1px solid map-get($colors, 'copy-primary-medium');
        &.first-item, &.last-item {
          border-left: 1px solid map-get($colors, 'copy-primary-medium');
        }

      }

      /*opacity: 0.8;
      color: white;*/
    }

    .nav-menu-heading {
      border-right: 1px solid map-get($colors, 'copy-primary-light');
      padding: 0 32px;

      &.first-item {
        border-left: 1px solid map-get($colors, 'copy-primary-light');
      }

      /* &.last-item {
         border: none;
       }*/

    }
  }
}

.menu-heading-content {
  display:none;
  position: absolute;
  top:10px;
  left: 0;
  background-color: map-get($colors, 'copy-primary-medium');
  color:white;
  width:100%;
  height:300px;
  z-index:1;
  text-align: left;
  padding:$helper-thick;

  ul{
    list-style: none;

    li{
      padding:$helper-thin;
      /*margin-left:10px;*/
    }
  }
}