.secondary-nav-links {
  list-style: none;
  padding: 0;
  margin:0;
  z-index: 3;
  text-align: justify;


  > li {
    display: inline-block;
    /*text-align: center;*/
    padding: 12px 0;
    color: map-get($colors, 'copy-primary-dark');
    cursor: pointer;



    &.trigger {
      background-color: map-get($colors, 'copy-primary-medium');
      /*border-left: 1px solid map-get($colors, 'copy-primary-medium');*/

      color: white;
    }

  /*  &:nth-child(3) {
      @include breakpoint(map-get($breakpoints, 'mobile-and-small-tablet-only')) {
        border-right: 1px solid map-get($colors, 'copy-primary-light');

        &.trigger {
          border-right: 1px solid map-get($colors, 'copy-primary-medium');
        }
      }
    }*/

    .nav-menu-heading {

      padding: 0 $helper-standard;

      @include breakpoint(map-get($breakpoints, 'mobile-and-tablet-only')) {
        /*padding: 0 $helper-standard;*/
      }

    }

    &:nth-child(n+4) {
      @include breakpoint(map-get($breakpoints, 'mobile-and-small-tablet-only')) {
        display: none;
      }
    }

/*    &:first-child{
       border-left: 1px solid map-get($colors, 'copy-primary-light');
     }

    &:last-child{
      border-right: 1px solid map-get($colors, 'copy-primary-light');
    }*/

 /*   border-left: 1px solid map-get($colors, 'copy-primary-light');
    border-right: 1px solid map-get($colors, 'copy-primary-light');
    border-top: 1px solid map-get($colors, 'copy-primary-light');*/
  }

  &:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.menu-heading-content {
  line-height: normal;
  display: none;
  position: absolute;
  top: 43px;
  left: 0;
  background-color: map-get($colors, 'copy-primary-medium');
  color: white;
  width: 100%;
  height: auto;
  z-index: 1;
  text-align: left;
  padding: $helper-standard $helper-standard $helper-thick;


  ul {
    list-style: none;
    padding: 0 20px 0 0;

    &:first-of-type > li:first-child {
      border-bottom: 1px solid white;
      margin-bottom: $helper-standard;

      &:hover {
        border-bottom: 1px solid map-get($colors, 'brand-light');

        a {
          color: map-get($colors, 'brand-light');
        }
      }
    }

    &:first-child{
      @include breakpoint(map-get($breakpoints, 'mobile-and-small-tablet-only')) {
        margin-top:$helper-thick;
      }
    }
    a{
      display: block;
      padding: $helper-thin 0;
    }


    li, a {
      color: white;

      &:hover {
        text-decoration: none;
        color: map-get($colors, 'brand-light');
      }
    }
  }
}

.nav-content-close {
  display: none;

  @include breakpoint(map-get($breakpoints, 'mobile-and-small-tablet-only')) {
    display: block;
  }
}

.secondary-nav-item-content{
  margin-top: $helper-standard;
}


.secondary-nav-item{
  @include breakpoint(map-get($breakpoints, 'small-tablet-up')) {
    display:none;
  }

  a:hover{
    color:map-get($colors, 'brand-light');
  }

  div:first-child:hover{
    color:map-get($colors, 'brand-light');
  }
}






