span.step {
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;

  /*&::before{
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: dodgerblue;
    z-index: -1;
  }*/

}

.border-circles{
  position: absolute;
  width: 100%;
  top:50%;
  border:1px solid red;
  z-index: -1;
}



.cart-items-list-container{
  padding:0;

  @include breakpoint(map-get($breakpoints, 'large-tablet-up')) {
  padding-right:$helper-thick;
  }
}

.journey-steps-container{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
