.circle-wrapper {
  position: relative;
  z-index: 3;

  .step {
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    z-index: 3;
  }
}

.border-circles{
  position: absolute;
  width: 100%;
  top:50%;
  border:1px solid map-get($colors, 'copy-primary-medium');
  z-index: 1;
}



.cart-items-list-container{
  padding:0;

  @include breakpoint(map-get($breakpoints, 'large-tablet-up')) {
  padding-right:$helper-thick;
  }
}

.journey-steps-container{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
