.side-menu{
  background-color: map-get($colors, 'copy-primary-medium');
  position: absolute;
  top:0;
  right:0;
  color:white;
  width:0;
  /*height:100vh;*/
  z-index:1;
  text-align: center;
  display:none;
}