.side-menu {
  background-color: map-get($colors, 'copy-primary-medium');
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 0;
  min-height: 100vh;
  height: auto;
  z-index: 1;
  display: none;

  ul {
    list-style: none;
    padding: $helper-thick;

    li {
      padding: $helper-standard 0;
      border-bottom: 1px solid white;
      @extend .transition-slow;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid map-get($colors, 'brand-light');

        > a {
          display: block;
          color: map-get($colors, 'brand-light');
        }
      }

      a:hover {
        text-decoration: none;
      }

    }
  }

  a {
    color: white;

  }

  .secondary-nav-item {
    border-bottom: none;

    /* &:hover div:first-child{
       opacity: 0.8;
     }

     :hover .clicked{
       color:white;
     }*/

    ul {
      padding: 0 0 0 10px;

      li {
        border-bottom: none;
        padding: $helper-thin 0;
      }

      &:first-of-type {
        li {
          border-bottom: 1px solid white;
        }
      }

    }
  }
}

.secondary-nav-item-content {
  display: none;
}