---
layout: default
title: Home
name: Home
---

<!-- Log in box -->
<main role="main" class="">

    <div class="container">

        {{>header this}}

        <div class="row no-marg">

        <div class="col-md-12 thick-marg-top">
            This file demonstrates how this project starts you with:
            <ul>
                <li>Bootstrap CSS</li>
                <li>Your own LESS CSS compilation</li>
                <li>JS libs: JQuery, Bootstrap, lodash</li>
                <li>RequireJS loading</li>
                <li>Live Reload (go ahead, change this file)</li>
            </ul>
        </div>
        </div>

    </div>

</main>
