---
layout: default
title: Home
name: Home
---

<!-- Log in box -->
<main role="main">
    <div class="relative-pos">
        {{>header}}
        {{>side-menu}}
    </div>
    <div class="container">
        {{>carousal}}
    </div>

    <div class="container">
        <div class="row no-marg">
            <div class="col-md-12 no-pad-side">
                <div class="col-md-6 pod-wrapper">
                    <div class="col-md-12 background-green no-pad-side marg-top">
                        <div class="col-md-6 color-white">
                            <h3>Wood</h3>

                            <p>Our vast array of fantastically priced wood mouldings will complement both modern and traditional decor, allowing you to matach to any colour scheme and satisfy any trend.</p>
                            <div class="thick-marg-top-bottom pod-btn thin-pad">Wood Ranges</div>
                        </div>
                        <div class="col-md-6 no-pad-side">
                            <div class="">
                                <div class="pod-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pod-wrapper">
                    <div class="col-md-12 background-orange no-pad-side marg-top">
                        <div class="col-md-6 color-white">
                            <h3>Polcore</h3>

                            <p>Mainline's highly specified and design-led extruded mouldings are available in more than 1000 designs, finishes and profiles. Polcore is recycled polystyrene</p>
                            <div class="thick-marg-top-bottom pod-btn thin-pad">Polcore Ranges</div>
                        </div>
                        <div class="col-md-6 no-pad-side">
                            <div class="">
                                <div class="pod-image"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row no-marg">
            <div class="col-md-12 no-pad-side">
                <div class="col-md-6 pod-wrapper">
                    <div class="col-md-12 background-purple no-pad-side marg-top">
                        <div class="col-md-6 color-white">
                            <h3>Mountboard</h3>

                            <p>Our mountboard comes in a variety of different colours, widths and cores, including backing, barrier & foam boards & speciality mountboards.</p>
                            <div class="thick-marg-top-bottom pod-btn thin-pad">Mountboard Ranges</div>
                        </div>
                        <div class="col-md-6 no-pad-side">
                            <div class="">
                                <div class="pod-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pod-wrapper">
                    <div class="col-md-12 background-yellow no-pad-side marg-top">
                        <div class="col-md-6 color-white">
                            <h3>Polcore Basics</h3>

                            <p>Polcore Basics is a range of contract mouldings where price is key. Receive 20% discount when ordering any 2 or more boxes from the Polcore Basics range</p>
                            <div class="thick-marg-top-bottom pod-btn thin-pad">Polcore Basics Ranges</div>
                        </div>
                        <div class="col-md-6 no-pad-side">
                            <div class="">
                                <div class="pod-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{>footer}}


</main>