---
layout: default
title: Home
name: Home
---

<!-- Log in box -->
<main role="main">
    <div class="relative-pos">
        {{>header}}
        {{>side-menu}}
    </div>
    <div class="container">




        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width:800px; height: 300px; overflow: hidden; visibility: hidden;">
            <!-- Loading Screen -->
            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position:absolute;display:block;background:url('static/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
            </div>
            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 300px; overflow: hidden;">
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/002.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/003.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/004.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/005.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/006.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/007.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/008.jpg" />
                </div>
                <div data-p="112.50" style="display: none;">
                    <img data-u="image" src="static/images/009.jpg" />
                </div>
                <a data-u="ad" href="http://www.jssor.com" style="display:none">Bootstrap Slider</a>

            </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;" data-autocenter="1">
                <div data-u="prototype" style="width:12px;height:12px;"></div>
            </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora13l" style="top:0px;left:30px;width:40px;height:50px;" data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora13r" style="top:0px;right:30px;width:40px;height:50px;" data-autocenter="2"></span>
        </div>






        <div class="row no-marg">

            <div class="col-md-12 no-pad thick-marg-top">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

                <!--<img src="static/images/supersearch-icon.svg">-->
            </div>
        </div>


    </div>
    {{>footer}}


</main>
