---
layout: default
title: PDP
name: PDP
productList: Polcore Gallery
productDetail: Ornate

---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 no-pad">
            {{>breadcrumb}}
        </section>
        <section class="col-md-12 col-sm-12 no-pad color-copy-primary-dark">
            <section class="col-md-6 col-sm-6 col-xs-12 no-pad">
                <h3 class="color-brand-dark marg-top">POL-487</h3>
                <section class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <table style="width:100%">
                        <tbody class="col-md-6 col-sm-6 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th style="width:150px;" width="150">Profile:</th>
                                <td>Spoon</td>
                            </tr>
                            <tr>
                                <th>Colour:</th>
                                <td>Gunmetal</td>
                            </tr>
                            <tr>
                                <th>Finish</th>
                                <td>Ornate</td>
                            </tr>
                        </tbody>
        <!--                <tbody class="col-md-6 col-sm-6 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th width="150">Width</th>
                                <td>97mm</td>
                            </tr>
                            <tr>
                                <th>Height:</th>
                                <td>49mm</td>
                            </tr>
                            <tr>
                                <th>Rebate</th>
                                <td>16mm</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-6 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th width="150">Box price</th>
                                <td>&pound;5.66 per m</td>
                            </tr>
                            <tr>
                                <th>Pack price:</th>
                                <td>&pound;6.87 per m</td>
                            </tr>
                            <tr>
                                <th>Length price</th>
                                <td>&pound;8.09</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-6 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th width="150">Width</th>
                                <td>97mm</td>
                            </tr>
                            <tr>
                                <th>Height:</th>
                                <td>49mm</td>
                            </tr>
                            <tr>
                                <th>Rebate</th>
                                <td>16mm</td>
                            </tr>
                        </tbody>-->
                    </table>
                </section>
            </section>
        </section>
    </section>

    {{>footer}}


</main>