---
layout: default
title: PDP
name: PDP
productList: Polcore Gallery
productDetail: Ornate

---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 no-pad">
            {{>breadcrumb}}
        </section>
        <section class="col-md-12 col-sm-12 col-xs-12 no-pad color-copy-primary-dark">
            <h3 class="color-brand-light marg-top"><strong>POL-487</strong></h3>
            <a href="#"><h5><i class="fa fa-angle-right icon-angle" aria-hidden="true"></i> Use your own code</h5></a>

            <section class="col-md-6 col-md-push-6 col-sm-push-6 col-sm-6 col-xs-12 no-pad">
                <img class="product-img marg-bottom" src="../static/images/product-detail/product1.jpg" style="max-width: 100%;" height="255" alt="POL-4874">
            </section>

            <section class="col-md-6 col-sm-6 col-md-pull-6 col-sm-pull-6 col-xs-12 no-pad">
                <section class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <table style="width:100%">
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th style="width:110px;" width="110">Profile:</th>
                                <td>Spoon</td>
                            </tr>
                            <tr>
                                <th>Colour:</th>
                                <td>Gunmetal</td>
                            </tr>
                            <tr>
                                <th>Finish</th>
                                <td>Ornate</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th width="110">Width</th>
                                <td>97mm</td>
                            </tr>
                            <tr>
                                <th>Height:</th>
                                <td>49mm</td>
                            </tr>
                            <tr>
                                <th>Rebate</th>
                                <td>16mm</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th style="width:110px;" width="110">Box price</th>
                                <td>&pound;5.66 per m</td>
                            </tr>
                            <tr>
                                <th>Pack price:</th>
                                <td>&pound;6.87 per m</td>
                            </tr>
                            <tr>
                                <th>Length price</th>
                                <td>&pound;8.09</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th width="110">Width</th>
                                <td>97mm</td>
                            </tr>
                            <tr>
                                <th>Height:</th>
                                <td>49mm</td>
                            </tr>
                            <tr>
                                <th>Rebate</th>
                                <td>16mm</td>
                            </tr>
                        </tbody>
                    </table>

                    <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top">
                        <form>
                            <div class="col-md-4 col-sm-4 col-xs-12 no-pad color-copy-primary-medium">
                                <strong>Order By</strong>
                                <div class="thin-marg-top">
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 no-pad color-copy-primary-medium">
                                <strong>Quantity</strong>
                                <div class="thin-marg-top marg-bottom">
                                    <input class="thin-pad thin-marg-right line-height-1" style="width:50px;" type="number">17.40 m
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 no-pad color-copy-primary-medium">
                                <strong>Value</strong>
                                <div class="thin-marg-top thin-pad-top-bottom" style="line-height:20px;">&pound;1119.54</div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad-side marg-top-bottom hover-orange cursor-pointer text-align-center add-basket pad">
                                <i class="fa fa-shopping-basket thin-pad-right" aria-hidden="true"></i> Add to basket
                            </div>
                        </form>
                    </section>
                </section>

            </section>



        </section>
    </section>

    {{>footer}}


</main>