---
layout: default
title: PDP
name: PDP
productList: Polcore Gallery
productDetail: Ornate
bootstrapJs: true
pdp: true

---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 no-pad">
            {{>breadcrumb}}
        </section>
        <section class="col-md-12 col-sm-12 col-xs-12 no-pad color-copy-primary-dark">
            <h3 class="color-brand-light marg-top">POL-487</h3>
            <a href="#"><h5><i class="fa fa-angle-right icon-angle" aria-hidden="true"></i> Use your own code</h5></a>

            <section class="col-md-6 col-md-push-6 col-sm-push-6 col-sm-6 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <img class="product-img marg-bottom" src="static/images/product-detail/product1.jpg" style="max-width: 100%;" height="255" alt="POL-4874">
                </div>
                <div class="product-img-btns-wrapper marg-top-bottom">
                    <span class="marg-left">
                        <a class="color-copy-primary-medium" href="#"><i class="fa fa-circle-o-notch thin-pad-right" aria-hidden="true"></i><span class="">3D <span class="display-none-mobile">rotating image</span></span></a>
                    </span>
                    <span class="marg-left">
                        <a class="color-copy-primary-medium visualiser-frame-wrapper" href="#"><i class="icon-quick-nav icon-quick-nav__visualiser  color-brand-light thin-pad-right vertical-align-bottom" aria-hidden="true"></i><span class="">Visualiser frame</span></a>
                    </span>

                </div>
            </section>

            <section class="col-md-6 col-sm-6 col-md-pull-6 col-sm-pull-6 col-xs-12 no-pad">
                <div class="col-md-12 no-pad marg-bottom">
                    <span>Exquisite hand-applied finish</span>
                </div>
                <section class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <table class="product-detail-table" style="width:100%">
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th style="width:110px;" width="110">Profile:</th>
                                <td>Spoon</td>
                            </tr>
                            <tr>
                                <th>Colour:</th>
                                <td>Gunmetal</td>
                            </tr>
                            <tr>
                                <th>Finish</th>
                                <td>Ornate</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th width="110">Width</th>
                                <td>97mm</td>
                            </tr>
                            <tr>
                                <th>Height:</th>
                                <td>49mm</td>
                            </tr>
                            <tr>
                                <th>Rebate</th>
                                <td>16mm</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th style="width:110px;" width="110">Box price</th>
                                <td>&pound;5.66 per m</td>
                            </tr>
                            <tr>
                                <th>Pack price:</th>
                                <td>&pound;6.87 per m</td>
                            </tr>
                            <tr>
                                <th>Length price</th>
                                <td>&pound;8.09</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-12 col-xs-12 no-pad marg-bottom">
                            <tr>
                                <th width="110">Width</th>
                                <td>97mm</td>
                            </tr>
                            <tr>
                                <th>Height:</th>
                                <td>49mm</td>
                            </tr>
                            <tr>
                                <th>Rebate</th>
                                <td>16mm</td>
                            </tr>
                        </tbody>
                    </table>

                    <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top">
                        <form>
                            <div class="col-md-4 col-sm-4 col-xs-12 no-pad color-copy-primary-medium">
                                <strong>Order By</strong>
                                <div class="thin-marg-top">
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 no-pad color-copy-primary-medium">
                                <strong>Quantity</strong>
                                <div class="thin-marg-top marg-bottom">
                                    <input id="quantityLengths" class="thin-pad thin-marg-right line-height-1" style="width:50px;" type="number">17.40 m
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6 no-pad color-copy-primary-medium">
                                <strong>Value</strong>
                                <div class="thin-marg-top thin-pad-top-bottom" style="line-height:20px;">&pound;1119.54</div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad-side marg-top-bottom hover-orange cursor-pointer text-align-center add-basket pad">
                                <i class="fa fa-shopping-basket thin-pad-right" aria-hidden="true"></i> Add to basket
                            </div>
                        </form>
                    </section>

                    <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top-bottom">
                        <h4 class="no-marg color-copy-primary-medium thin-pad-bottom">Product Samples</h4>
                        <span>Please <a class="border-bottom-secondary login-register" href="#">login or register</a> to order a sample</span>
                    </section>

                    <section class="col-md-12 col-sm-12 col-xs-12 no-pad">
                        <a href="#"><h5><i class="fa fa-angle-right icon-angle" aria-hidden="true"></i> Other products in the Verona range</h5></a>

                        <a href="#"><h5><i class="fa fa-angle-right icon-angle" aria-hidden="true"></i> Range information PDF</h5></a>
                    </section>

                    <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top-bottom">
                        <h4 class="no-marg color-copy-primary-medium pad-bottom">You may also be interested in these products</h4>
                        <div class="product-wrapper col-md-2 col-sm-6 col-xs-6 no-pad">
                            <div class="product-item">
                                <img src="../static/images/products/product4.jpg">
                                <div class="pad-top text-center">Black</div>
                            </div>
                        </div>
                        <div class="product-wrapper col-md-2 col-sm-6 col-xs-6 no-pad">
                            <div class="product-item">
                                <img src="../static/images/products/product2.jpg">
                                <div class="pad-top text-center">Ornate</div>
                            </div>
                        </div>

                        <div class="product-wrapper col-md-2 col-sm-6 col-xs-6 no-pad">
                            <div class="product-item">
                                <img src="../static/images/products/product3.jpg">
                                <div class="pad-top text-center">Black</div>
                            </div>
                        </div>
                        <div class="product-wrapper col-md-2 col-sm-6 col-xs-6 no-pad">
                            <div class="product-item">
                                <img src="../static/images/products/product2.jpg">
                                <div class="pad-top text-center">Ornate</div>
                            </div>
                        </div>
                        <div class="product-wrapper col-md-2 col-sm-6 col-xs-6 no-pad">
                            <div class="product-item">
                                <img src="../static/images/products/product3.jpg">
                                <div class="pad-top text-center">Moulding & Mountboard Slips</div>
                            </div>
                        </div>
                    </section>
                </section>

            </section>
        </section>

        <section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="bestValueWarning" class="modal-body">
                          <!--<h4>Better value!</h4>-->
                            <!--     <p>
                                   You might consider it better value to order by the pack:
                               </p>
                               <p>
                                   1 pack for &pound;.77(total 8.70m)
                               </p>-->

                            <!--<p class="bestValueMessage">You might consider it better value to order by the pack:<br><span class="betterValueText">1 pack for £59.77 (total 8.70m)</span><button id="acceptPack" type="button">Choose this option</button></p>-->

                            <div id="jQtext">&nbsp;</div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div id="bestValueWarning">
        <div class="closeHelp">Close help box</div>
        <!--<div id="jQtext">&nbsp;</div>-->
    </div>


    <form id="product-form" action="/index.php?PageLink=LogIn&amp;amp;LoginMessage=AddToCart" method="post">
        <input id="productId" name="productId" type="hidden" value="POL-4876">
        <input id="onPromotion" name="onPromotion" type="hidden" value="0">
        <input id="bestPromotionId" name="bestPromotionId" type="hidden" value="">
        <input id="showDiscountText" name="showDiscountText" type="hidden" value="0">
        <input id="metresInCart" name="metresInCart" type="hidden" value="0">
        <input id="discountedPrice" name="discountedPrice" type="hidden" value="0">
        <input id="discountedPricePack" name="discountedPricePack" type="hidden" value="0">
        <input id="discountedPriceSplit" name="discountedPriceSplit" type="hidden" value="0">
        <input id="listPrice" name="listPrice" type="hidden" value="8.09">
        <input id="listPrice2" name="listPrice2" type="hidden" value="5.66">
        <input id="packPrice" name="packPrice" type="hidden" value="6.87">
        <input id="boxedQuantity" name="boxedQuantity" type="hidden" value="17.40">
        <input id="packQuantity" name="packQuantity" type="hidden" value="8.70">
        <input id="lengthVariationRate" name="lengthVariationRate" type="hidden" value="8">
        <input id="mouldingLength" name="mouldingLength" type="hidden" value="2.9">
        <input id="isApproxLength" name="isApproxLength" type="hidden" value="0">
        <input id="productType" name="productType" type="hidden" value="Polcore">

    </form>






    {{>footer}}


</main>