---
layout: default
title: PDP
name: PDP
productList: Polcore Gallery
productDetail: Ornate
bootstrapJs: true
pdp: true

---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 no-pad">
            {{>breadcrumb}}
        </section>
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad color-copy-primary-dark">
            <h3 class="color-brand-light marg-top inline">POL-487</h3>
            <a href="#" class="background-light-grey marg-left cursor-pointer"><i class="fa fa-star" aria-hidden="true"></i> Add to favourites</a>
            <a href="#"><h5><span class="icon-angle-wrapper"><i class="fa fa-angle-right icon-angle color-white" aria-hidden="true"></i></span> Use your own code</h5></a>

            <section class="col-lg-6 col-lg-push-6 col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad product-img-zoom-wrapper">
                    <div class="col-md-12 col-lg-6">
                        <img id="img_01" class="product-img marg-bottom" src="static/images/product-detail/product1.jpg" style="max-width: 100%;" height="255" alt="POL-4874">
                    </div>
                    <div class="col-md-6 col-lg-6 zoom-frame no-pad display-none-mobile-tablet-large">
                        <img class="product-img marg-bottom" src="static/images/zoom-frame.jpg" style="max-width: 100%;" height="255" alt="POL-4874">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 product-img-btns-wrapper marg-top-bottom">
                    <span class="marg-left">
                        <a class="color-copy-primary-medium" href="#"><i style="margin-top:5px;" class="fa fa-circle-o-notch thin-pad-right vertical-align-top inline-block" aria-hidden="true"></i><span class="inline-block line-height-1 text-align-left">3D Rotating <br> image</span></a>
                    </span>
                    <span class="marg-left">
                        <a class="color-copy-primary-medium visualiser-frame-wrapper" href="#"><i class="icon-quick-nav icon-quick-nav__visualiser  color-brand-light thin-pad-right vertical-align-top inline-block" aria-hidden="true"></i><span class="inline-block line-height-1 text-align-left">Visualise <br>frame</span></a>
                    </span>

                </div>
                <section class="col-md-12 col-sm-12 col-xs-12 no-pad text-align-center">
                    <a href="#">
                        <h5><span class="icon-angle-wrapper"><i class="fa fa-angle-right icon-angle color-white" aria-hidden="true"></i></span> Range information PDF</h5>
                    </a>
                </section>
            </section>
            <!--            <section class="col-md-6 col-md-push-6 col-sm-push-6 col-sm-6 col-xs-12 no-pad">
                            <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                                <img class="product-img marg-bottom" src="static/images/zoom-frame.jpg" style="max-width: 100%;" height="255" alt="POL-4874">
                            </div>

                        </section>-->

            <section class="col-lg-6 col-lg-pull-6 col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4  col-xs-12 no-pad">
                <div class="col-md-12 no-pad marg-bottom">
                    <span>Exquisite hand-applied finish</span>
                </div>
                <section class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <table class="product-detail-table" style="width:100%">
                        <tbody class="color-copy-primary-medium mobile-headings">
                            <tr>
                                <th class="pad-bottom js-product-details cursor-pointer">
                                    <span class="icon-angle-wrapper"><i class="fa fa-angle-right icon-angle color-white" aria-hidden="true"></i></span>
                                    <strong>Product Details</strong>
                                </th>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-detail-content display-none-mobile">
                            <tr>
                                <th style="width:110px;" width="110">Profile:</th>
                                <td>Spoon</td>
                            </tr>
                            <tr>
                                <th>Colour:</th>
                                <td>Gunmetal</td>
                            </tr>
                            <tr>
                                <th>Finish</th>
                                <td>Ornate</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-detail-content display-none-mobile">
                            <tr>
                                <th width="110">Width</th>
                                <td>97mm</td>
                            </tr>
                            <tr>
                                <th>Height:</th>
                                <td>49mm</td>
                            </tr>
                            <tr>
                                <th>Rebate</th>
                                <td>16mm</td>
                            </tr>
                        </tbody>

                        <tbody class="color-copy-primary-medium mobile-headings">
                            <tr>
                                <th class="pad-bottom cursor-pointer js-product-prices clicked">
                                    <span class="icon-angle-wrapper"><i class="fa fa-angle-right icon-angle color-white" aria-hidden="true"></i></span>
                                    <strong>Prices and Quantities</strong>
                                </th>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-content product-prices-content">
                            <tr>
                                <th style="width:110px;" width="110">Box price</th>
                                <td>&pound;5.66 per m</td>
                            </tr>
                            <tr>
                                <th>Pack price:</th>
                                <td>&pound;6.87 per m</td>
                            </tr>
                            <tr>
                                <th>Length price</th>
                                <td>&pound;8.09 per m</td>
                            </tr>
                        </tbody>
                        <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-content product-prices-content">
                            <tr>
                                <th width="110">Box</th>
                                <td>17.4m</td>
                            </tr>
                            <tr>
                                <th>Pack</th>
                                <td>11.6m</td>
                            </tr>
                            <tr>
                                <th>Length</th>
                                <td>2.9m</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="font-size-sm thin-pad-top color-copy-primary-medium">
                                    Box and Pack quantities may vary
                                </td>
                            </tr>
                        </tbody>


                    </table>

                    <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top-bottom">
                        More than 400m in stock
                    </section>

                    <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top">
                        <div class="col-md-6 col-md-push-6 col-sm-12 col-xs-12 no-pad color-copy-primary-medium thick-marg-bottom">
                            <span class="col-md-12 col-sm-12 col-xs-12 no-pad-side product-samples-title pad-bottom marg-bottom display-none-mobile cursor-pointer"><strong class="">Product Samples</strong></span>
                            <span class="col-md-12 col-sm-12 col-xs-12 no-pad-side product-samples-title pad-bottom marg-bottom mob js-product-sample cursor-pointer display-none-small-tablet-up">
                                <span class="icon-angle-wrapper"><i class="fa fa-angle-right icon-angle color-white" aria-hidden="true"></i></span>
                                <strong class="">Product Samples</strong>
                            </span>
                            <div class="product-content display-none-mobile product-sample-content">
                                <div class="font-size-sm">
                                    Order a 0.5m sample of this moulding for &pound;1.00
                                </div>
                                <div class="marg-top">
                                    <div class="col-md-6 col-sm-6 col-xs-12 pdp-button no-pad-side marg-top-bottom background-orange color-white cursor-pointer text-align-center add-basket pad">
                                        Add Sample to Cart
                                    </div>
                                    <div style="width:258px;" class="font-size-sm col-sm-12 col-xs-12 no-pad">You may only order samples for mouldings which you have not previously purchased. This offer cannot be combined with any other offers, discounts or promotions.</div>
                                </div>
                            </div>
                        </div>
                        <form class="col-md-6 col-md-pull-6 col-xs-12 mobile-indent-section">
                            <div class="price-selection no-pad color-copy-primary-medium marg-right">
                                <strong>Order By</strong>
                                <div class="thin-marg-top">
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                            </div>
                            <div class="price-selection no-pad color-copy-primary-medium marg-right">
                                <strong>Quantity</strong>
                                <div class="thin-marg-top marg-bottom quantity-wrapper">
                                    <span class="js-quantity-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    <input id="quantityLengths" value="1" min="1" class="thin-pad text-align-center line-height-1 js-quantity" style="width:30px;" type="number">
                                    <span class="js-quantity-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="price-selection no-pad color-copy-primary-medium marg-right">
                                <strong>Value</strong>
                                <div class="thin-marg-top thin-pad value-wrapper" style="line-height:20px; padding-top: 3px; padding-bottom: 4px;">&pound;1119.54</div>
                            </div>
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 pdp-button no-pad-side marg-top-bottom color-white background-orange cursor-pointer text-align-center add-basket pad">
                                    <i class="fa fa-shopping-basket thin-pad-right" aria-hidden="true"></i> Add to basket
                                </div>
                            </div>


                        </form>

                    </section>

                    <div class="col-md-12 col-sm-12 col-xs-12 mobile-indent-section">
                        <div class=" pdp-button  extra-thick-marg-top-bottom color-white background-grey cursor-pointer text-align-center add-basket pad">
                            Proceed to Checkout
                        </div>
                    </div>


                </section>

            </section>

            <section class="col-lg-5 col-md-12 col-sm-12 col-xs-12 pad marg-top-bottom border-all-secondary">
                <h5 class="no-marg color-copy-primary-medium pad-bottom">View 12 other mouldings in the Verona range</h5>
                <div class="inline-block pull-left vertical-align-mid view-items-left-arrow">
                    <i style="font-size:50px;" class="fa fa-angle-left icon-angle" aria-hidden="true"></i>
                </div>
                <div class="view-other-items">
                    <div class="product-wrapper no-pad">
                        <div style="margin-left:0" class="product-item">
                            <img src="../static/images/products/product4.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product2.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>

                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product2.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                </div>
                <div class="inline-block pull-right vertical-align-mid view-items-right-arrow">
                    <i style="font-size:50px;" class="fa fa-angle-right icon-angle pull-right" aria-hidden="true"></i>
                </div>
            </section>

            <section class=" col-lg-5 col-md-12 col-sm-12 col-xs-12 display-none-mobile pull-right pad marg-top-bottom border-all-secondary">
                <h5 class="no-marg color-copy-primary-medium pad-bottom">Recently viewed</h5>
                <div class="recently-viewed">
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                    <div class="product-wrapper no-pad">
                        <div class="product-item">
                            <img src="../static/images/products/product3.jpg">
                            <div class="pad-top text-center">POL1232</div>
                        </div>
                    </div>
                </div>
            </section>


        </section>

        <!--<section>
            &lt;!&ndash; Button trigger modal &ndash;&gt;
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Launch demo modal
            </button>
-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="bestValueWarning" class="modal-body">
                        <h4>Better value!</h4>

                        <p>
                            You might consider it better value to order by the pack:
                        </p>

                        <p>
                            1 pack for &pound;.77(total 8.70m)
                        </p>

                        <p class="bestValueMessage">You might consider it better value to order by the pack:<br><span class="betterValueText">1 pack for £59.77 (total 8.70m)</span><button id="acceptPack" type="button">Choose this option</button>
                        </p>

                        <div id="jQtext">&nbsp;</div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    <div id="bestValueWarning">
            <div class="closeHelp">Close help box</div>
            &lt;!&ndash;<div id="jQtext">&nbsp;</div>&ndash;&gt;
        </div>-->


    <form id="product-form" action="/index.php?PageLink=LogIn&amp;amp;LoginMessage=AddToCart" method="post">
        <input id="productId" name="productId" type="hidden" value="POL-4876">
        <input id="onPromotion" name="onPromotion" type="hidden" value="0">
        <input id="bestPromotionId" name="bestPromotionId" type="hidden" value="">
        <input id="showDiscountText" name="showDiscountText" type="hidden" value="0">
        <input id="metresInCart" name="metresInCart" type="hidden" value="0">
        <input id="discountedPrice" name="discountedPrice" type="hidden" value="0">
        <input id="discountedPricePack" name="discountedPricePack" type="hidden" value="0">
        <input id="discountedPriceSplit" name="discountedPriceSplit" type="hidden" value="0">
        <input id="listPrice" name="listPrice" type="hidden" value="8.09">
        <input id="listPrice2" name="listPrice2" type="hidden" value="5.66">
        <input id="packPrice" name="packPrice" type="hidden" value="6.87">
        <input id="boxedQuantity" name="boxedQuantity" type="hidden" value="17.40">
        <input id="packQuantity" name="packQuantity" type="hidden" value="8.70">
        <input id="lengthVariationRate" name="lengthVariationRate" type="hidden" value="8">
        <input id="mouldingLength" name="mouldingLength" type="hidden" value="2.9">
        <input id="isApproxLength" name="isApproxLength" type="hidden" value="0">
        <input id="productType" name="productType" type="hidden" value="Polcore">

    </form>






    {{>footer}}


</main>