---
layout: default
title: PLP
name: PLP
carousel: true

---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 no-pad">
            <section class="col-md-5 col-sm-5 marg-top-bottom no-pad">
                <a class="" href="#">Homepage </a> <a href="#">&gt; Polcoree - Gallery</a>
            </section>

            <section class="col-md-7 col-sm-7 marg-top-bottom no-pad color-copy-primary-dark pagination-links-wrapper">
                <section class="row no-marg">
                    <select style="width:165px" class="marg-bottom thin-pad">
                        <option value="" disabled selected>Sort By</option>
                        <option value="width(large - small)">Width (Large- Small)</option>
                        <option value="width(small-large)">Width (Small - Large)</option>
                        <option value="price(high-low)">Price (High - Low)</option>
                        <option value="price(low-high)">Price (Low - High)</option>
                        <option value="newness">Newness</option>
                    </select>
                    {{>pagination-links}}
                </section>

            </section>



        </section>
        <section class="title-heading">
            <h1 class="color-copy-primary-dark marg-top-bottom">Polcore - Gallery</h1>
        </section>
        <section class="col-md-12 no-pad">
            <section class="col-md-5 col-sm-5 no-pad">
                <div class="col-md-10 no-pad">
                    <!--<img style="width:100%;" src="http://placehold.it/320x528">-->
                    <div class="carousel-img"></div>

                    <!--<img src="../static/images/carousel/allegra.jpg">-->

                </div>
                <div class="col-md-10 no-pad-side marg-top-bottom">
                    An extensive collection of elegant picture frame mouldings with a variety of classic, contemporary and sumptuous finishes.
                </div>
            </section>
            <section class="col-md-7 col-sm-7 col-xs-12 no-pad">
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Ornate</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4  col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Gold</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Silver</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Moulding & Mountboard Slips</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4  col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Ornate</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Bronze</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Moulding & Mountboard Slips</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4  col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Ornate</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Black</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Ornate</div>
                    </div>
                </div>

                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Black</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Ornate</div>
                    </div>
                </div>
                <div class="product-wrapper col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="product-item">
                        <img style="width:100%;" src="http://placehold.it/150x150">
                        <div class="pad-top text-center">Moulding & Mountboard Slips</div>
                    </div>
                </div>
            </section>
        </section>


    </section>










    {{>footer}}


</main>