---
layout: default
title: View Cart
name: View Cart
productList: Polcore Gallery


---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top">
            <section class="marg-bottom">
                <div class="inline-block">
                    <span style="margin-left:33px;" class="step background-orange">1</span>
                <!--    <div class="color-copy-primary-medium">
                        Shopping Cart
                    </div>-->
                </div>
                <div class="inline-block">
                    <span style="margin-left:33px;" class="step background-orange">1</span>
                    <!--    <div class="color-copy-primary-medium">
                            Shopping Cart
                        </div>-->
                </div>
                <div class="inline-block">
                    <span style="margin-left:33px;" class="step background-orange">1</span>
                    <!--    <div class="color-copy-primary-medium">
                            Shopping Cart
                        </div>-->
                </div>
            </section>

            <section class="col-md-8 no-pad-left">
                <table class="" style="width:100%">
                    <tbody>
                        <tr class="border-bottom-secondary border-top-secondary pad-top color-copy-primary-medium">
                            <th style="width:110px;" class="pad-top-bottom" width="110">Products(5)</th>
                            <th style="width:110px;" width="110" class="pad-top-bottom text-align-center">Quantity</th>
                            <th style="width:110px;" width="110" class="pad-top-bottom text-align-center">Price</th>
                            <th style="width:110px;" width="110" class="pad-top-bottom text-align-center">Subtotal</th>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr class="border-bottom-secondary border-top-secondary pad-top">
                            <td style="width:110px;" class="pad-top-bottom" width="110"
                            <div class="product-wrapper no-pad">
                                <div class="product-item inline-block">
                                    <img height="107px" src="../static/images/products/product3.jpg">
                                </div>
                                <div class="pad-left inline-block vertical-align-top color-brand-light">
                                    POL-4445
                                    <div class="color-copy-primary-medium font-size-sm">
                                        More than <br> 400m in stock
                                    </div>
                                </div>
                            </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom vertical-align-top">
                                <div class="inline-block vertical-align-top color-copy-primary-medium">
                                    <span class="pad-right">Order By</span>
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Quantity</span>
                                    <div class="inline-block thin-marg-top marg-bottom quantity-wrapper">
                                        <span class="js-quantity-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <input id="quantityLengths" value="1" min="1" class="thin-pad text-align-center line-height-1 js-quantity" style="width:30px;" type="number">
                                        <span class="js-quantity-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Metres Ordered</span>
                                    <div class="inline-block thin-marg-top">
                                        174m
                                    </div>
                                </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom color-copy-primary-medium text-align-center">Length Price:
                                <div>&pound;9.09/m*</div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom text-align-center color-copy-primary-medium relative-pos">
                                &pound;23.57
                                <div style="top:0; right:0;" class="absolute-pos">
                                    <h3 class="no-marg">
                                        <i class="fa fa-times btn-times pad cursor-pointer js-btn-times" aria-hidden="true"></i>
                                    </h3>
                                </div>
                            </td>
                        </tr>
                        <tr class="border-bottom-secondary border-top-secondary pad-top">
                            <td style="width:110px;" class="pad-top-bottom" width="110"
                            <div class="product-wrapper no-pad">
                                <div class="product-item inline-block">
                                    <img height="107px" src="../static/images/products/product3.jpg">
                                </div>
                                <div class="pad-left inline-block vertical-align-top color-brand-light">
                                    POL-4445
                                    <div class="color-copy-primary-medium font-size-sm">
                                        More than <br> 400m in stock
                                    </div>
                                </div>
                            </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom vertical-align-top">
                                <div class="inline-block vertical-align-top color-copy-primary-medium">
                                    <span class="pad-right">Order By</span>
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Quantity</span>
                                    <div class="inline-block thin-marg-top marg-bottom quantity-wrapper">
                                        <span class="js-quantity-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <input id="quantityLengths" value="1" min="1" class="thin-pad text-align-center line-height-1 js-quantity" style="width:30px;" type="number">
                                        <span class="js-quantity-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Metres Ordered</span>
                                    <div class="inline-block thin-marg-top">
                                        174m
                                    </div>
                                </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom color-copy-primary-medium text-align-center">Length Price:
                                <div>&pound;9.09/m*</div>
                                <div class="color-brand-light">(20% saving)</div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom text-align-center color-copy-primary-medium relative-pos">
                                &pound;23.57
                                <div style="top:0; right:0;" class="absolute-pos">
                                    <h3 class="no-marg">
                                        <i class="fa fa-times btn-times pad cursor-pointer js-btn-times" aria-hidden="true"></i>
                                    </h3>
                                </div>
                            </td>
                        </tr>
                        <tr class="border-bottom-secondary border-top-secondary pad-top">
                            <td style="width:110px;" class="pad-top-bottom" width="110"
                            <div class="product-wrapper no-pad">
                                <div class="product-item inline-block">
                                    <img height="107px" src="../static/images/products/product3.jpg">
                                </div>
                                <div class="pad-left inline-block vertical-align-top color-brand-light">
                                    POL-4445
                                    <div class="color-copy-primary-medium font-size-sm">
                                        More than <br> 400m in stock
                                    </div>
                                </div>
                            </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom vertical-align-top">
                                <div class="inline-block vertical-align-top color-copy-primary-medium">
                                    <span class="pad-right">Order By</span>
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Quantity</span>
                                    <div class="inline-block thin-marg-top marg-bottom quantity-wrapper">
                                        <span class="js-quantity-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <input id="quantityLengths" value="1" min="1" class="thin-pad text-align-center line-height-1 js-quantity" style="width:30px;" type="number">
                                        <span class="js-quantity-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Metres Ordered</span>
                                    <div class="inline-block thin-marg-top">
                                        174m
                                    </div>
                                </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom color-copy-primary-medium text-align-center">Length Price:
                                <div>&pound;9.09/m*</div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom text-align-center color-copy-primary-medium relative-pos">
                                &pound;23.57
                                <div style="top:0; right:0;" class="absolute-pos">
                                    <h3 class="no-marg">
                                        <i class="fa fa-times btn-times pad cursor-pointer js-btn-times" aria-hidden="true"></i>
                                    </h3>
                                </div>
                            </td>
                        </tr>
                        <tr class="border-bottom-secondary border-top-secondary pad-top">
                            <td style="width:110px;" class="pad-top-bottom" width="110"
                            <div class="product-wrapper no-pad">
                                <div class="product-item inline-block">
                                    <img height="107px" src="../static/images/products/product3.jpg">
                                </div>
                                <div class="pad-left inline-block vertical-align-top color-brand-light">
                                    POL-4445
                                    <div class="color-copy-primary-medium font-size-sm">
                                        More than <br> 400m in stock
                                    </div>
                                </div>
                            </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom vertical-align-top">
                                <div class="inline-block vertical-align-top color-copy-primary-medium">
                                    <span class="pad-right">Order By</span>
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Quantity</span>
                                    <div class="inline-block thin-marg-top marg-bottom quantity-wrapper">
                                        <span class="js-quantity-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <input id="quantityLengths" value="1" min="1" class="thin-pad text-align-center line-height-1 js-quantity" style="width:30px;" type="number">
                                        <span class="js-quantity-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Metres Ordered</span>
                                    <div class="inline-block thin-marg-top">
                                        174m
                                    </div>
                                </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom color-copy-primary-medium text-align-center">Length Price:
                                <div>&pound;9.09/m*</div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom text-align-center color-copy-primary-medium relative-pos">
                                &pound;23.57
                                <div style="top:0; right:0;" class="absolute-pos">
                                    <h3 class="no-marg">
                                        <i class="fa fa-times btn-times pad cursor-pointer js-btn-times" aria-hidden="true"></i>
                                    </h3>
                                </div>
                            </td>
                        </tr>
                        <tr class="border-bottom-secondary border-top-secondary pad-top">
                            <td style="width:110px;" class="pad-top-bottom" width="110"
                            <div class="product-wrapper no-pad">
                                <div class="product-item inline-block">
                                    <img height="107px" src="../static/images/products/product3.jpg">
                                </div>
                                <div class="pad-left inline-block vertical-align-top color-brand-light">
                                    POL-4445
                                    <div class="color-copy-primary-medium font-size-sm">
                                        More than <br> 400m in stock
                                    </div>
                                </div>
                            </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom vertical-align-top">
                                <div class="inline-block vertical-align-top color-copy-primary-medium">
                                    <span class="pad-right">Order By</span>
                                    <select style="width:80px" class="marg-bottom thin-pad">
                                        <option value="length">Length</option>
                                        <option value="pack">Pack</option>
                                        <option value="box">Box</option>
                                    </select>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Quantity</span>
                                    <div class="inline-block thin-marg-top marg-bottom quantity-wrapper">
                                        <span class="js-quantity-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <input id="quantityLengths" value="1" min="1" class="thin-pad text-align-center line-height-1 js-quantity" style="width:30px;" type="number">
                                        <span class="js-quantity-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="vertical-align-top color-copy-primary-medium">
                                    <span style="padding-right:13px;">Metres Ordered</span>
                                    <div class="inline-block thin-marg-top">
                                        174m
                                    </div>
                                </div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom color-copy-primary-medium text-align-center">Length Price:
                                <div>&pound;9.09/m*</div>
                            </td>
                            <td style="width:110px;" width="110" class="pad-top-bottom text-align-center color-copy-primary-medium relative-pos">
                                &pound;23.57
                                <div style="top:0; right:0;" class="absolute-pos">
                                    <h3 class="no-marg">
                                        <i class="fa fa-times btn-times pad cursor-pointer js-btn-times" aria-hidden="true"></i>
                                    </h3>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!--<tbody class="">
                        <tr>
                            <th width="110">Width</th>
                            <td>97mm</td>
                        </tr>
                        <tr>
                            <th>Height:</th>
                            <td>49mm</td>
                        </tr>
                        <tr>
                            <th>Rebate</th>
                            <td>16mm</td>
                        </tr>
                    </tbody>

                    <tbody class="color-copy-primary-medium mobile-headings">
                        <tr>
                            <th class="pad-bottom cursor-pointer js-product-prices clicked">
                                <span class="icon-angle-wrapper"><i class="fa fa-angle-right icon-angle color-white" aria-hidden="true"></i></span>
                                <strong>Prices and Quantities</strong>
                            </th>
                        </tr>
                    </tbody>
                    <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-content product-prices-content">
                        <tr>
                            <th style="width:110px;" width="110">Box price</th>
                            <td>&pound;5.66 per m</td>
                        </tr>
                        <tr>
                            <th>Pack price:</th>
                            <td>&pound;6.87 per m</td>
                        </tr>
                        <tr>
                            <th>Length price</th>
                            <td>&pound;8.09 per m</td>
                        </tr>
                    </tbody>
                    <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-content product-prices-content">
                        <tr>
                            <th width="110">Box</th>
                            <td>17.4m</td>
                        </tr>
                        <tr>
                            <th>Pack</th>
                            <td>11.6m</td>
                        </tr>
                        <tr>
                            <th>Length</th>
                            <td>2.9m</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-size-sm thin-pad-top color-copy-primary-medium">
                                Box and Pack quantities may vary
                            </td>
                        </tr>
                    </tbody>-->


                </table>
            </section>
            <section class="col-md-4 no-pad-side">
                <div class="background-grey pad color-white">Order Summary</div>
                <div class="color-copy-primary-medium pad border-all-secondary">
                    <section>
                        <strong>Mouldings</strong>
                        <section class="pad-left">
                            <section>
                                <span>Boxes (2)</span>
                                <span class="pull-right">
                                    &pound;158.35
                                </span>
                            </section>
                            <section>
                                <span>Packs (3)</span>
                                <span class="pull-right">
                                    &pound;158.35
                                </span>
                            </section>
                            <section>
                                <span>Lengths (1)</span>
                                <span class="pull-right">
                                    &pound;158.35
                                </span>
                            </section>
                        </section>
                    </section>
                    <section class="pad-top-bottom border-bottom-secondary">
                        <strong>Other Products</strong>
                        <section class="pad-left">
                            <section>
                                <span>Items (1)</span>
                                <span class="pull-right">
                                    &pound;2.25
                                </span>
                            </section>
                            <section>
                                <span>Packs (1)</span>
                                <span class="pull-right">
                                    &pound;24.60
                                </span>
                            </section>
                        </section>
                    </section>
                    <section class="pad-top">
                        <section>
                            <strong>Approximate Total<span class="font-size-sm"> (exc. VAT):</span></strong>
                            <span class="pull-right">
                                        &pound;347.67
                            </span>
                        </section>
                        <section>
                            <strong>Length Variation<span class="color-white"></span></strong>
                            <span class="pull-right">
                                        &pound;13.67
                            </span>
                        </section>
                        <section>
                            <strong>Length Variation<span class="marg-left step background-orange">?</span> :</strong>
                            <span class="pull-right">
                                        &pound;13.67
                            </span>
                        </section>
                        <section>
                            <strong>Shipping:</strong>
                            <span class="pull-right color-brand-light">
                                        <strong>FREE</strong>
                            </span>
                        </section>
                        <section class="pad-top-bottom">
                            <div class="color-brand-light pad-bottom pull-right">You've qualified for FREE next day delivery!</div>
                        </section>
                        <section style="clear:both;" class="border-bottom-secondary pad-bottom">
                            <strong>VAT:</strong>
                              <span class="pull-right">
                                        &pound;72.15
                            </span>
                        </section>
                        <section class="pad-top">
                            <strong>Order total not to exceed:</strong>
                              <span class="pull-right">
                                        <strong>&pound;432.91</strong>
                            </span>
                        </section>
                    </section>
                </div>

                <div class="color-copy-primary-medium pad border-all-primary marg-top">
                    <section>
                        You've
                        <span class="color-brand-light">saved &pound;198.90 off our list price</span> by ordering by the box and pack!
                    </section>
                </div>

                <div style="width:100%;" class="pdp-button no-pad-side marg-top-bottom color-white background-orange cursor-pointer text-align-center add-basket pad">
                    Proceed to Checkout
                </div>

                <div style="width:48%;" class="inline-block pdp-button  color-white background-grey cursor-pointer text-align-center add-basket pad">
                    Continue Shopping
                </div>

                <div style="width:48%;" class="inline-block pdp-button  color-white background-grey cursor-pointer text-align-center add-basket pad pull-right">
                    Save for later
                </div>
            </section>


        </section>


    </section>

    {{>footer}}

</main>