---
layout: default
title: View Cart
name: View Cart
productList: Polcore Gallery


---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 no-pad">

            <h3 class="color-brand-light">Your shopping cart</h3>
            <p>
                Please note that we will supply mouldings to the nearest length above your order quantity and advise you of the total cost prior to despatch.
               Boxed quantities may vary and we will charge for the nearest full box quantity (may be greater or less than the order quantity).
            </p>

            See our <a href="#">terms & conditions</a> for more details.

            <p class="color-brand-light marg-top">An order containing moulding must have a minimum &pound;50 worth of moulding</p>


        </section>


    </section>










    {{>footer}}


</main>