---
layout: default
title: View Cart
name: View Cart
productList: Polcore Gallery


---

<!-- Log in box -->
<main role="main">
    <div class="fadeMe js-fade-me"></div>
    <div class="">
        {{>side-menu}}
        {{>header}}

    </div>


    <section class="container">
        <section class="col-md-12 col-sm-12 col-xs-12 no-pad marg-top">
            <section class="col-md-8">
                <table class="" style="width:100%">
                    <tbody class="border-bottom-secondary pad-top-bottom">
                        <tr>
                            <th style="width:110px;" width="110">Products(5)</th>
                            <th style="width:110px;" width="110">Quantity</th>
                            <th style="width:110px;" width="110">Price</th>
                            <th style="width:110px;" width="110">Subtotal</th>
                        </tr>
                    </tbody>
                    <!--<tbody class="">
                        <tr>
                            <th width="110">Width</th>
                            <td>97mm</td>
                        </tr>
                        <tr>
                            <th>Height:</th>
                            <td>49mm</td>
                        </tr>
                        <tr>
                            <th>Rebate</th>
                            <td>16mm</td>
                        </tr>
                    </tbody>

                    <tbody class="color-copy-primary-medium mobile-headings">
                        <tr>
                            <th class="pad-bottom cursor-pointer js-product-prices clicked">
                                <span class="icon-angle-wrapper"><i class="fa fa-angle-right icon-angle color-white" aria-hidden="true"></i></span>
                                <strong>Prices and Quantities</strong>
                            </th>
                        </tr>
                    </tbody>
                    <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-content product-prices-content">
                        <tr>
                            <th style="width:110px;" width="110">Box price</th>
                            <td>&pound;5.66 per m</td>
                        </tr>
                        <tr>
                            <th>Pack price:</th>
                            <td>&pound;6.87 per m</td>
                        </tr>
                        <tr>
                            <th>Length price</th>
                            <td>&pound;8.09 per m</td>
                        </tr>
                    </tbody>
                    <tbody class="col-md-6 col-sm-6 col-xs-12 marg-bottom product-content product-prices-content">
                        <tr>
                            <th width="110">Box</th>
                            <td>17.4m</td>
                        </tr>
                        <tr>
                            <th>Pack</th>
                            <td>11.6m</td>
                        </tr>
                        <tr>
                            <th>Length</th>
                            <td>2.9m</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-size-sm thin-pad-top color-copy-primary-medium">
                                Box and Pack quantities may vary
                            </td>
                        </tr>
                    </tbody>-->


                </table>
            </section>
            <section class="col-md-4">
                Order Summary
            </section>



        </section>


    </section>










    {{>footer}}


</main>