/*
	Core styles
	----------------------------------- */

	@viewport {
		width: device-width;
	}

	// Clearfix
	.group:after {
		content: '';
		display: table;
		clear: both;
	}

	// No wrapping
	.no-wrap {
		white-space: nowrap;
	}

	html, body, button, input, select, textarea {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	html {
		height: 100%;
		box-sizing: border-box;
	}

	body {
		position: relative;
		width: 300px;
		overflow-x: hidden;
	}

	blockquote {
		margin: 0;
	}

	legend {
		padding: 0;
		margin: 0;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}
