/*
/!*
	Type
	----------------------------------- *!/

	body {
		text-size-adjust: 100%;

		// Apply 16px base font size
		@include font-attributes(16px, 19.2px);

		// Apply 14px base font size
		@include breakpoint(map-get($breakpoints, 'mobile-only')) {
			@include font-attributes(14px, 16.8px);
		}
	}

	// Retain 16px font size for forms
	input,
	select,
	textarea {
		@include font-attributes(16px, 26px, 0, 14px);
		color: map-get($colours, 'form-input-text');

		@include breakpoint(map-get($breakpoints, 'tablet')) {
			@include font-attributes(16px, 26px);
		}
	}

	::placeholder {
		color: map-get($colours, 'form-placeholder');
		opacity: 1;
	}

	body,
	input,
	select,
	textarea,
	button {
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: 400;
		color: map-get($colours, 'copy');
	}

	//h1, h2, h3, h4, h5, h6 {
	//	font-size: 1em;
	//	font-weight: 500;
	//}

	p {
		margin: 0;

		* + & {
			margin-top: 1em;
		}

		.headline + & {
			margin-top: 0;
		}
	}

	ul, ol {
		margin-top: 1em;
		padding-left: 1.2em;

		&:first-child {
			margin-top: 0;
		}

		ol {
			margin-left: -3.2em;
			padding-left: 0;
		}

		.headline + ol {
			margin-top: 1em;
		}
	}

	ol {
		counter-reset: item;

		> li {
			counter-increment: item;
		}

		ol > li {

			// Turn off counters
			position: relative;
			display: block;

			// Add counter manually
			&:before {
				position: absolute;
				left: 0;
				content: counters(item, '.') '. ';
			}
		}
	}

	li {

		// Bullet lists
		ul & {
			list-style: disc;

			+ li {
				margin-top: 0.25em;
			}
		}

		// Numbered lists (e.g. T&Cs)
		ol & {
			padding-left: 2em;

			ul li {
				padding-left: 1.2em;
			}

			li {
				padding-left: 3.2em;
			}

			+ li {
				margin-top: 1em;
			}
		}

		ol > & {

			+ li {
				margin-top: 2em;
			}
		}
	}

	strong, b, em {
		font-weight: 500;
	}

	a {
		color: map-get($colours, 'link');
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	small {
		color: map-get($colours, 'copy-light');

		@include breakpoint(map-get($breakpoints, 'tablet')) {
			@include font-attributes(13px, 16.8px);
		}
	}
*/
