/*
	Variables
	----------------------------------- */

$colours: (
  'brand-color-dark':#ec5d11,
  'brand-color-light':#ff6600,

  //Copy
        'copy-primary-dark':#726260,
        'copy-primary-light':ebecec
);

$properties: (
        'input-radius': 6px,
        'button-radius': 6px,
        'button-increased-radius': 14px,
        'popup-radius': 10px,
        'tutorial-radius': 6px,
        'tutorial-radius-large': 50px,
        'charts-bar-radius': 3px,
        'bubble-alternative-radius': 6px
);

$breakpoints: (
  // Mobile first
        'tablet-small': 500px,
        'tablet': 768px,
        'tablet-large': 850px,
        'tablet-larger': 1024px,
        'desktop': 1170px,
        'wide': 1366px,
  // Specific ranges for mobile
        'mobile-only': 'max-width' 767px,
        'mobile-only-portrait': (max-width 767px) (orientation portrait),
        'mobile-only-landscape': (max-width 767px) (orientation landscape),
  // Specific ranges for mobile + tablet
        'mobile-and-small-tablet-only': 'max-width' 849px,
        'mobile-and-tablet-only': 'max-width' 1169px,
        'tablet-only': (min-width 768px) (max-width 1169px),
  // Retina images
        'retina': min-resolution 1.5dppx
);

// Tell Breakpoint to use ems
@include breakpoint-set('to ems', true);

/*in house variables*/

// Helpers: set standard padding and margin values, thick and thin
$helper-standard: 10px;
$helper-thick: $helper-standard*2;
$helper-thin: $helper-standard/2;
$helper-extra-thin: $helper-standard/3;
$helper-extra-thick: $helper-standard*3;

/*$helper: (
        'standard': $helper-standard,
        'thick': $helper-standard*2,
        'thin': $helper-standard/2,
        'extra-thin': $helper-standard/3,
        'extra-thick': $helper-standard*3
);*/

//font-weight

$font-weight: (
        'strong': 500
);

//Colours
$colours-in-house: (
        'light-grey':rgb(242, 242, 242),
        'extra-light-grey': rgb(251, 251, 251),
        'success-green': #009247,
        'table-row-grey': #f9f9f9
);

