<section class="col-md-5 col-sm-5 marg-top-bottom no-pad">
    <a class="" href="#">Home </a> <a href="#"><i class="fa fa-angle-right icon-angle" aria-hidden="true"></i> {{productList}} </a> <a href="#"><i class="fa fa-angle-right icon-angle" aria-hidden="true"></i> {{productDetail}} </a>
</section>