<div id="carousel-example" class="carousel slide marg-top" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <a href="#">
                <div class="carousel-img carousel-img__1"></div>
            </a>

            <div class="img-heading">
               <strong>Allegra</strong>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <div class="carousel-img carousel-img__2"></div>
            </a>
            <div class="img-heading">
                <strong>Cornwall</strong>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <div class="carousel-img carousel-img__3"></div>
            </a>
            <div class="img-heading">
                <strong>Lexington</strong>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>




