
<!-- Shared footer -->
<footer class="footer">
	<div class="grid wrapper">
		<div class="grid__row footer__row">
			<div class="grid__cell footer__cell">



			</div>
			<div class="grid__cell footer__cell">



			</div>
		</div>
	</div>
</footer>
