<!-- Shared header -->
<header class="col-md-12">
    <div class="row no-marg">
        <div class="col-md-12 no-pad-side thick-pad-top-bottom border-bottom-primary">
            <div class="col-md-4 no-pad-side">
                <div class="mainline-logo">
                    &nbsp;
                </div>
                <div class="extra-thin-pad-top">
                    <span class="mainline-logo-text">picture framing supplies</span>
                </div>
            </div>
            <nav class="col-md-8 no-pad-side nav-links-wrapper">
                <div class="row no-marg">
                    <ul class="nav-links no-pad">
                        <li><a href="#"><i class="fa fa-user color-brand-dark thin-pad-right" aria-hidden="true"></i>Sign In</a></li>
                        <li><a href="#"><i class="fa fa-shopping-basket color-brand-dark thin-pad-right" aria-hidden="true"></i><span class="cart-items-val"><strong>3</strong></span>Basket</a></li>
                        <li><a class="tel-link color-brand-dark" href="tel:01949 861000"><i class="fa fa-phone thin-pad-right color-brand-dark" aria-hidden="true"></i>01949 861000</a></li>
                    </ul>
                </div>
                <div class="row no-marg">
                    <div class="col-md-12 no-pad-side relative-pos marg-top">
                        <div class="col-md-8 no-pad-side">
                            <input type="Search" placeholder="Search code, colour, size, shape, finish..." class="form-control"/>
                            <div class=" btn-search-wrapper absolute-pos">
                                <button class="btn btn-search">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </div>

                        <button class="btn btn-default inline">Hello</button>
                    </div>
                </div>
            </nav>
            <!-- <div class="col-md-12 no-pad-side relative-pos marg-top">
                 <input type="Search" placeholder="Search code, colour, size, shape, finish..." class="form-control"/>

                 <div class=" btn-search-wrapper absolute-pos">
                     <button class="btn btn-search">
                         <span class="fa fa-search"></span>
                     </button>
                 </div>

                 <button class="btn btn-default inline">Hello</button>
             </div>-->


        </div>
    </div>


</header>
