<!-- Shared header -->
<header class="col-md-12">
    <div class="thick-pad-top-bottom border-bottom-primary">
        <div class="logo-wrapper">
            <div class="mainline-logo">
                &nbsp;
            </div>
            <div class="extra-thin-pad-top">
                <span class="copy-primary">picture framing supplies</span>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>

    </div>
</header>


