<!-- Shared header -->
<header class="col-md-12">
    <div class="thick-pad-top-bottom border-bottom-primary">
        <div class="inline-block">
            <div class="mainline-logo">
                &nbsp;
            </div>
            <div class="extra-thin-pad-top">
                <span class="copy-primary">picture framing supplies</span>
            </div>
            <div class="marg-top">
                <a class="tel-link brand-color-dark" href="tel:01949 861000"><strong><i class="fa fa-phone thin-pad-right brand-color-dark" aria-hidden="true"></i>01949 861000</strong></a>
            </div>
        </div>
        <nav class="nav-links-wrapper">
            <ul class="nav-links no-pad">
                <li><a href="#">Register</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Your Basket</a></li>
                <!--<li><a href="01949 861000">01949 861000</a></li>-->
            </ul>
        </nav>


    </div>
</header>


