<section class="row no-marg">
    <span class="marg-right text-underline cursor-pointer hover-orange">Show All</span>
    <h3 class="marg-right inline"><i class="fa fa-angle-left icon-angle color-copy-primary-light text-vertical-mid cursor-none" aria-hidden="true"></i></h3>
    <span class="marg-right color-copy-primary-light">1</span>
    <span class="marg-right cursor-pointer hover-orange">2</span>
    <span class="marg-right cursor-pointer hover-orange hover-orange">3</span>
    <h3 class="inline cursor-pointer"><i class="fa fa-angle-right icon-angle color-brand-dark text-vertical-mid" aria-hidden="true"></i></h3>
</section>


