<div class="container-fluid background-light-grey marg-top-bottom no-pad">
    <div class="container">
        <div class="row no-marg-side quick-nav-links">
            <div class="icon-wrapper">
                <span class="icon-quick-nav icon-quick-nav__speedshop">&nbsp;</span>
                <div class="thin-pad-top icon-text">SpeedShop</div>
            </div>
            <div class="icon-wrapper">
                <span class="icon-quick-nav icon-quick-nav__favourites">&nbsp;</span>
                <div class="thin-pad-top icon-text">Favourites</div>
            </div>
            <div class="icon-wrapper">
                <span class="icon-quick-nav icon-quick-nav__visualiser">&nbsp;</span>
                <div class="thin-pad-top icon-text">Visualiser</div>
            </div>
            <div class="icon-wrapper">
                <span class="icon-quick-nav icon-quick-nav__supersearch">&nbsp;</span>
                <div class="thin-pad-top icon-text">SuperSearch</div>
            </div>
            <div class="icon-wrapper">
                <span class="icon-quick-nav icon-quick-nav__gallery">&nbsp;</span>
                <div class="thin-pad-top icon-text">Gallery</div>
            </div>
            <div class="icon-wrapper">
                <span class="icon-quick-nav icon-quick-nav__download">&nbsp;</span>
                <div class="thin-pad-top icon-text">Catalogue & File <br> Download</div>
            </div>
            <div class="icon-wrapper">
                <span class="icon-quick-nav icon-quick-nav__faq">&nbsp;</span>
                <div class="thin-pad-top icon-text">FAQs</div>
            </div>
        </div>
    </div>
</div>