<div class="col-md-12 ">
    <div class="col-md-12">
        <div class="side-menu js-side-menu">
            <!--<ul>
                <li>Frame Visualiser</li>
                <li>Gallery</li>
                <li>Favourites</li>
                <li>SpeedShop</li>
                <li>Reorder your purchases</li>
            </ul>-->
            <div class="text-align-right"><h3 class="no-marg"><i class="fa fa-times thick-pad cursor-pointer js-times-icon" aria-hidden="true"></i></h3></div>

            <ul class="">
                <li><a href="frame_visualiser.php">Frame Visualiser</a></li>
                <li><a href="gallery.php">Gallery</a></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=AddToFavs">Favourites</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Favourites">Info</a>--></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseSpeedShop">SpeedShop</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=SpeedShop">Info</a>--></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseHistoricOrder">Reorder your purchases</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Reorder">Info</a>--></li>
                <li><a href="index.php?PageLink=Tools&amp;Tab=ProductCodes">Your own product codes</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=ProductCodes">Info</a>--></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseStockNotification">StockWatch - stock notifications</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Stock">Info</a>--></li>
                <li><a href="index.php?PageLink=Tools&amp;Tab=Delivery">Estimated delivery dates</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Delivery">Info</a>--></li>
                <li><a href="index.php?Logged&amp;CustomerAccount">Account statements</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Statements">Info</a>--></li>
                <li><a href="index.php?PageLink=ObsoleteProducts">Obsolete Catalogue Products</a></li>
                <li><a href="index.php?PageLink=Downloads">Catalogue and File downloads</a></li>
                <li><a href="index.php?PageLink=Tools">Site Tools information</a><!--<a class="info" href="index.php?PageLink=Tools">Info</a>--></li>
                <li><a href="index.php?PageLink=FAQ">Help - FAQs</a></li>
            </ul>

            </ul>
        </div>
    </div>
</div>
