
<!-- Footer links -->
<div class="footer-links footer-links--primary">
	<ul class="footer-links__list">
		<li class="footer-links__item">
			<a href="#">Terms &amp; Conditions</a>
		</li>
		<li class="footer-links__item">
			<a href="#">Privacy Policy</a>
		</li>
	</ul>
	<ul class="footer-links__list">
		<li class="footer-links__item">
			<a href="#">Cookie Policy</a>
		</li>


	</ul>
</div>

<div class="footer-links footer-links--secondary">

</div>
