<div class="row no-marg">
    <div class="col-md-12 no-pad-side">
        <ul class="secondary-nav-links">
            <li class="relative-pos js-menu-heading"><span class="nav-menu-heading first-item">Polcore</span>
                <div class="col-md-12">
                    <div class="menu-heading-content js-menu-heading-content">
                        <div class="col-md-3">
                            <ul class="no-pad">
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="no-pad">
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="no-pad">
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="no-pad">
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                                <li>Lorum Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><span class="nav-menu-heading">Wood</span></li>
            <li><span class="nav-menu-heading">Mountboard</span></li>
            <li><span class="nav-menu-heading">Blade Sharpening</span></li>
         <!--   <li><span class="nav-menu-heading">Materials</span></li>
            <li><span class="nav-menu-heading">Equipment</span></li>
            <li><span class="nav-menu-heading">Gallery</span></li>
            <li><span class="nav-menu-heading">New</span></li>
            <li><span class="nav-menu-heading last-item">Sale</span> </li>-->
        </ul>
    </div>
</div>