<div class="col-md-12">
    <div class="side-menu js-side-menu">
        <div class="text-align-right"><h3 class="no-marg"><i class="fa fa-times btn-times thick-pad cursor-pointer js-btn-times" aria-hidden="true"></i></h3></div>
            <ul class="js-nav-list">
                <li class="thick-marg-bottom secondary-nav-item">
                    <div class="cursor-pointer js-secondary-nav-item">Materials +</div>
                    <div class="col-md-12 no-pad-side marg-top-bottom secondary-nav-item-content js-secondary-nav-item-content">
                        {{>list-materials}}
                    </div>
                </li>

                <li class=""><a href="frame_visualiser.php">Frame Visualiser</a></li>
                <li><a href="gallery.php">Gallery</a></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=AddToFavs">Favourites</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Favourites">Info</a>--></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseSpeedShop">SpeedShop</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=SpeedShop">Info</a>--></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseHistoricOrder">Reorder your purchases</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Reorder">Info</a>--></li>
                <li><a href="index.php?PageLink=Tools&amp;Tab=ProductCodes">Your own product codes</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=ProductCodes">Info</a>--></li>
                <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseStockNotification">StockWatch - stock notifications</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Stock">Info</a>--></li>
                <li><a href="index.php?PageLink=Tools&amp;Tab=Delivery">Estimated delivery dates</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Delivery">Info</a>--></li>
                <li><a href="index.php?Logged&amp;CustomerAccount">Account statements</a><!--<a class="info" href="index.php?PageLink=Tools&amp;Tab=Statements">Info</a>--></li>
                <li><a href="index.php?PageLink=ObsoleteProducts">Obsolete Catalogue Products</a></li>
                <li><a href="index.php?PageLink=Downloads">Catalogue and File downloads</a></li>
                <li><a href="index.php?PageLink=Tools">Site Tools information</a><!--<a class="info" href="index.php?PageLink=Tools">Info</a>--></li>
                <li><a href="index.php?PageLink=FAQ">Help - FAQs</a></li>
            </ul>
    </div>
</div>



