<tr>
    <td class="container-padding header background-white" align="left">
        <table width="560" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row">
        <tr>
            <td class="pad-top">
                <img src="https://raw.githubusercontent.com/d4lj1t/MainlineMouldings/master/src/public/static/images/Logo.png">
            </td>
        </tr>
        </table>
    </td>
</tr>