<ul class="row no-marg col-md-12">
    <li class="marg-bottom col-md-3 no-pad"><a href="#">Blade Sharpening</a></li>
</ul>
<ul class="row no-marg col-md-4">
    <li><a href="#">Information</a></li>
</ul>
<ul class="row no-marg col-md-4">
    <li><a href="#">Arrange collection</a></li>
</ul>