<ul class="row no-marg col-md-12">
    <li class="marg-bottom col-md-3 no-pad"><a href="#">Gallery</a></li>
</ul>
<ul class="row no-marg col-md-4">
    <li><a href="#">Gallery One</a></li>
    <li><a href="#">Competition Gallery</a></li>
</ul>
<ul class="row no-marg col-md-4">
    <li><a href="#">Gallery Two</a></li>
    <li><a href="#">Gallery Three</a></li>
</ul>