<ul class="row no-marg col-md-12">
    <li class="marg-bottom col-md-3 no-pad"><a href="#">Framing Equipment</a></li>
</ul>
<ul class="row no-marg col-md-4">
    <li><a href="#">Glass Cutters</a></li>
    <li><a href="#">Framing Point Guns</a></li>
</ul>
<ul class="row no-marg col-md-4">
    <li><a href="#">Morso Mitring Machinery</a></li>
    <li><a href="#">Framers Corner framing equipment</a></li>
</ul>