<ul class="row no-marg col-md-12">
    <li class="marg-bottom col-md-3  col-sm-3 no-pad"><a href="#">Framing Materials</a></li>
</ul>
<ul class="row no-marg col-md-4 col-sm-4">
    <li><a href="#">Tapes</a></li>
    <li><a href="#">Finishing Products</a></li>
    <li><a href="#">Picture cord & wire</a></li>
    <li><a href="#">Blades</a></li>
</ul>
<ul class="row no-marg col-md-4 col-sm-4">
    <li><a href="#">Strutbacks</a></li>
    <li><a href="#">Points & Staples</a></li>
    <li><a href="#">Ironmongery</a></li>
    <li><a href="#">Underpinner wedges</a></li>
</ul>
<ul class="row no-marg col-md-4 col-sm-4">
    <li><a href="#">Sundries</a></li>
    <li><a href="#">Adhesives</a></li>
</ul>